.text-danger {
  display: flex;
  margin: 0% 0% 0% 3%;
  flex-direction: row;
}
.danger-msg {
  color: red;
  font-size: 13px;
  margin: 0%;
}
.invalid {
  width: 10px;
  height: 12px;
  margin: 1.5% 3% 0% 0%;
}
