<div class="home" #home>
    <app-header [pageName]="pageName" class="header"></app-header>
    <div class="body">
        <app-side-bar (flag)="openAddTaskContainer()" (name)="setPageName($event)" class="side-bar"></app-side-bar>
        <app-side-bar-mobile (name)="setPageName($event)" class="mobile-side-bar"></app-side-bar-mobile>
        <div class="right-container">
        <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div #addTask class="add-task">
    <form class="add-task-form">
        <input type="text" placeholder="Add title">
        <textarea rows="4" cols="7" placeholder="Add description"></textarea>
        <div class="form-buttons">
            <div></div>
            <div class="operations">
                <button (click)="onCancel()" class="cancel-button">Cancel</button>
                <button class="save-button">Save</button>
            </div>
        </div>
    </form>
</div>
